@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");
/*Insertar fuentes locales si no hay conexión*/
@font-face {
    font-family: 'ThirstyScript';
    src: url('../font/ThirstyScriptExtraBoldDemo.otf');
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../font/YanoneKaffeesatz-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #faf6f2;
    min-height: 300px;
    max-width: 1460px;
    overflow-x: hidden;
}

/* Inicio de estilos de la Barra de navegación*/
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    width: 100%;
    padding-top: 20px;
    font-family: "Open Sans", sans-serif;
    border-bottom: 1px solid #ede5e552;
    background-color: #c00a27;
}

/*Logo*/
.logo_text {
    color: #e6e6e6;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

/*Menú principal*/
.menu {
    display: flex;
    
}

.menu_item {
    padding: 15px 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 0.95em;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 6px;
}

.menu_link {
    color: #e6e6e6;
    font-weight: bold;
}
.menu_link::after {
    content: " ";
    display: block;
    height: 2px;
    width: 42px;
    margin: 0 auto;
    margin-top: 6px;
    background-color: #ffae00;
    visibility: hidden;
}
.menu_link:hover::after {
    visibility: visible;
}

.menu_link:hover {
    margin-top: -6px;
    color: #ccc8c8;
}

/*Telefono de domicilios*/
.phone {
    text-align: right;
}
.phone_order {
    color: #ffae00;
}
.phone_number {
    display: block;
    color: #e6e6e6;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 1.6em;
}

/*Seccion de login*/
.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_link {
    color: #e6e6e6;
    padding: 0.6em 1.5em;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    font-weight: bold;
}

.login_link--button {
    padding: 10px 20px;
    background-color: #8ca93e;
    border-radius: 16px;
}

.btn_menu, .btn_login, .btn_pizza{
    display: none;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

.menu--show {top: 120px !important}
.pizza_list--show {top: 120px !important}
.login--show {top: 120px !important}



/*Fin de la barra de navegación*/
/*----------------------------------------------------------------------------*/
/* Seccion de pizzas ofrecidas*/
/* .pizza_products {
    display: flex;
    justify-content: center;
    height: 100px;
    font-family: "Open Sans", sans-serif;
    background-color: #c00a27;
} */

.pizza_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    font-family: "Open Sans", sans-serif;
    background-color: #c00a27;
    
}

.pizza_item {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
    height: 100%;
    padding: 0 15px;
    color: #e6e6e6;
    opacity: 0.8;
}

.pizza_item i {
    font-size: 2em;
}

.pizza_item:hover {
    opacity: initial;
}

.pizza_link {
    color: #e6e6e6;
}
/*----------------------------------------------------------------------------------*/
/*Seccion Slider*/
/*Contenedor del Slider */
.slideshow-container {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

/* Hide the images by default */
.mySlides {
    display: none;
    text-align: center;
    pointer-events: none;
    user-select: none;

    width: 100%;
    height: 100%;
}

.mySlides img{
    width: 100%;
    height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -3%;
    padding: 1vw 2vw;
    color: white;
    font-weight: bold;
    font-size: 5vw;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slide-text {
    color: #ffffff;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 10vw;
    padding: 8px 12px;
    position: absolute;
    bottom: 8%;
    width: 100%;
    text-align: center;
    text-shadow: 10px 10px 10px #000;
}

/* Number text (1/3 etc) 
.numbertext {
    color: #f2f2f2;

    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}*/

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: rgb(255, 254, 254);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 10;
}

.active{
    width: 40px;
    background-color: #c00a27;
    border-radius: 10px;
}

.dot:hover{
    background-color: #ebe9e9;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}


/*Set de comidas*/
.foodset {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: minmax(220px, auto);
    gap: 20px;
    grid-auto-flow: dense;
    justify-content: center;
    padding: 20px 60px 60px;
}

.food_item {
    display: flex;
    flex-direction: column;
    padding: 3vw;
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    border: solid 1px rgb(255, 255, 255);
    font-family: "Yanone Kaffeesatz", sans-serif, Arial, Helvetica;
    font-size: 2em;
    text-transform: uppercase;
    color: #fbf8e6;
    background-position: center;
    background-size: cover;
}

.food_item:nth-child(1){
    background-image: url('../img/pizza-set-1.jpg');
}
.food_item:nth-child(2){
    background-image: url('../img/pizza-set-2.png');
}
.food_item:nth-child(3){
    background-image: url('../img/pizza-set-3.png');
}
.food_item:nth-child(4){
    background-image: url('../img/pizza-set-4.jpg');
}

.food_item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.food_item--bigger {
    grid-column: span 2; /*dos columnas*/
    grid-row: span 2; /*dos filas*/
}

.food_item--longer {
    grid-column: span 2;
}

.foodset_title{
    font-size: 5vw;
    font-weight: bolder;
    line-height: 0.8em;
}

.foodset_desc{
    font-size: 2.5vw;
}

:is(.food_item:nth-child(2), .food_item:nth-child(3)) .foodset_title {
    font-size: 3.2vw;
}
:is(.food_item:nth-child(2), .food_item:nth-child(3)) .foodset_desc{
    font-size: 2vw;
}


.pizza_day{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 420px;
    font-family: "Yanone Kaffeesatz",sans-serif;
    color: white;
    background: url('../img/pizza_day_banner.png') no-repeat;
    background-size: cover;
    background-position-x: center;
}

.pizza_day-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
.pizza_text-free{
    font-size: 1.7em;
}
.pizza_text-free::after{
    content: '';
    display: block;
    text-align: center;
    width: 7em;
    border-top: 1px solid #fff;
}
.pizza_text-day{
    font-size: 5.5em;
    font-weight: bold;
}

.pizza_day_number{
    display: flex;
    gap: 30px;
}

.pizza_price{
    font-size: 4em;
    font-weight: bold;
    text-align: right;
}
.pizza_price span{
    display: block;
    font-size: 0.4em;
    font-weight: normal;
}

.pizza_option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3px;
    font-size: 1.2em;
    text-align: left;
    line-height: 1.3em;
    border-radius: 15px;
    color: #fbf8e6;
    background-color: red;
}
.pizza_option span::before{
    content:"-   "
}

.btn_order{
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 11px;
    margin-top: 2em;
    border-radius: 10px;
    background-color: #c00a27;
    color: #e6e6e6;
}

/*Pié de página*/
.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #333333;
}

/*social-icons*/
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 5px;
    gap: 2.5em;
    height: 150px;
    text-align: center;
}

.social-item {
    width: 45px;
    height: 45px;
    border: 1px solid #8e8e8e;
    border-radius: 32px;
}

.social-icons i {
    width: 100%;
    font-size: 1.4em;
    color: #8e8e8e;
    padding: 12px 0;
}

.social-item:hover {
    border: 1px solid #5e5e5e;
}

.social-icons i:hover {
    color: #5e5e5e;
}

.logo-footer {
    text-align: center;
    padding-bottom: 68px;
}

.copyright {
    color: #e6e6e6;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 30px 0;
}

.data {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px;
}

.data_item {
    font-family: "Open Sans", sans-serif;
    color: #e6e6e6;
}


@media screen and (max-width: 1219px){
    .food_item--longer {
        grid-column: 1 / 4;
    }
}


@media screen and (max-width: 940px){
    .foodset{
        grid-template-columns: repeat(1, minmax(250px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        padding: 20px 15px;
    }
    .food_item--longer, .food_item--bigger {
        grid-column: initial;
        grid-row: initial;
    }

    .foodset_title {
        font-size: 1.6em !important;
    }
    .foodset_desc{
        font-size: 1.5rem !important;
    }
} 


@media screen and (max-width: 1000px){
    .btn_menu{
        display: inline-block;
    }

    .menu{
        flex-direction: column;
        position: absolute;
        width: 100vw;
        background: #414141;
        top: -250px; /*Que salga del viewport*/
        transition: all .4s;
        z-index: 3;
    }

    .phone_number{
        font-size: 1em;
    }

    .navbar{
        padding: initial;
    }

    .logo img {
        width: 150px;
    }

    .login{
        flex-direction: column;
        position: absolute;
        width: 100vw;
        background: #414141;
        top: -250px; /*Que salga del viewport*/
        transition: all .4s;
        z-index: 2;
    }
    .btn_login{
        display: inline-block;
    }
}


@media screen and (max-width: 440px){
    .phone, .numbertext{
        display: none;
    }

    .btn_pizza{
        display: inline-block;
    }

    .pizza_list{
        flex-direction: column;
        position: absolute;
        width: 100vw;
        gap: 4px;
        height: auto;
        background: #414141;
        top: -250px; /*Que salga del viewport*/
        transition: all .4s;
        z-index: 1;
    }

    .pizza_day-text{transform: scale(0.8);}
    .pizza_item{
        padding: 5px;
    }
}