table.TablaDIV2 {
    border: 0px solid #1C6EA4;
    background-color:rgba(255,255,255,.1);
    width: 100%;
    text-align: center;
    border-collapse: collapse;

    
    
  }
  table.TablaDIV2 td, table.TablaDIV2 th {
    border: 0px solid #AAAAAA;
    padding: 3px 2px;

    
    
    
    
  }
  table.TablaDIV2 tbody td {
    font-size: 13px;
    
    
  }

  div.div1 {
    overflow:scroll;
    overflow-x: hidden;
    height: 98vh;
    width: 22%;
    background-image: url("https://i.imgur.com/Byvy9Un.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 30%;
    background-size: 15%;
    
    

}


div.div2 {
    width: 55%;
    position: absolute;
    transform: translate(500px,-800px);
    

}



input.input2[type=text] {
    width: 43%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("https://i.imgur.com/iCIyNrg.png");
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 15px 20px 20px 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input.input2[type=text]:focus {
    width: 100%;
  }



  




