
/*body{
  background-color: blue;
  background-image:url("../media/fondoRoles.png");
  overflow:scroll;
  transform: translate(-100px,100px);
  

  }*/
  div.algo {  
    background-image:url("../media/pizza2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }
  .navbar3{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vh;
    font-weight: 400;
    background-color:  #b5040a;

  }
  .button{
    text-decoration:none; 
    text-align:center; 
    padding:8px 35px; 
    -webkit-border-radius:18px;
    -moz-border-radius:18px; 
    border-radius: 18px; 
    font:2vh  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-weight:600; 
    color:#ffffff; 
    background:#b5040a; 
 
    }

     table.Marco {
      margin: auto;
      border: 4px solid #ffffff;
      background-color: transparent;
      width: 80%;
      height: auto;
      text-align: center;
      border-collapse: collapse;
      transform: translate(-100px,80px);
      overflow-y: scroll;
      background-color:rgb(0, 0, 0,0.38);
      background-blend-mode:saturation;
    }
    table.Marco td, table.Marco th {
      border: 0.5vh solid #ffffff;
      padding: 0px 0px;
    }
    table.Marco tbody td {
      font-size: 13px;
      color: #FFFFFF;
    }


    table.FILA {
      border: 1px solid #FFFFFF;
      background-color:transparent;
      width: 100%;
      text-align: center;
      border-collapse: collapse;
    }

    table.FILA thead{
      font-size: 16px;
      font-weight: bold ;
      color:whitesmoke ;
    }

    table.FILA td, table.FILA th {
      border: 1px solid #ffffff;
      padding: 6px 2px;
    }
    table.FILA tbody td {
      font-size: 13px;
      color: #FFFFFF;
    }
    table.FILA tr:nth-child(even) {
      background: #D0E4F5;
    }

    table.Cabecera {
      border: 0px solid #1C6EA4;
      background-color:transparent;
      width: 100%;
      text-align: center;
      border-collapse: collapse;
    }
    table.Cabecera td, table.Cabecera th {
      border: 0px solid #AAAAAA;
      padding: 3px 2px;
    }
    table.Cabecera tbody td {
      font-size: 20px;
      font-weight: bold;
      color: #FFFFFF;
    }
    table.Cabecera tr:nth-child(even) {
      background: #D0E4F5;
    }